:root {
  --grey: rgb(244, 252, 255);
  --darkGrey: rgb(220, 220, 220);
  --shadow: rgb(150 150 150);
  --shadowLight: rgb(200, 200, 200);
  --borderDark: rgb(126, 126, 126);
  --borderLight: rgb(195, 195, 195);
  --green: #43b146;
  --yellow: #c4a029;
  --red: #c64e4e;
  --darkGreen: #39973c;
  --darkYellow: #ad8d25;
  --darkRed: #a24040;
}

.search-container {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-form {
  width: 100%;
  /* z-index: 5; */
  /* position: relative; */
}
/* .search-form::after {
  content: "";
  background-color: var(--grey);
  position: absolute;
  z-index: 10;
  height: 10px;
  top: 100%;
  left: 0;
  width: 100%;
} */
.search-box {
  background-color: var(--grey);
  /* box-shadow: 0px 0px 8px var(--shadowLight); */
  /* border-radius: 4px 4px 0 0; */
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#search {
  width: 100%;
  height: 2.5rem;
  border: none;
  background-image: none;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  font-size: 1.05rem;
  margin-right: 8px;
}

#search::placeholder {
  color: #c4c4c4;
}
#search-btn {
  color: white;
  margin: 0;
  padding: 0.5rem 1rem;
  height: 2.5rem;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 0px 2px var(--shadow);
  cursor: pointer;
  background-color: #275799;
  transition: background-color 0.15s;
}
#search-btn:hover {
  background-color: #214880;
}

.merged-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
  border-radius: 8px;
  padding: 0.3rem;
  background-color: var(--grey);
  box-shadow: 0px 0px 6px var(--shadowLight);
  overflow-x: hidden;
}
.result {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
table {
  width: 100%;
  /* border-collapse: collapse; */
  /* border-radius: 0 0 8px 8px; */
  /* padding: 0.5rem; */
  /* background-color: var(--grey); */
  /* box-shadow: 0px 0px 8px var(--shadowLight); */
}

tr {
  text-align: left;
  position: relative;
}

tbody tr:not(:first-of-type):before {
  content: "";
  border: 1px solid var(--borderLight);
  width: 98%;
  right: 1%;
  position: absolute;
}
tbody tr:first-of-type:before {
  content: "";
}
thead tr::before {
  content: "";
}
thead tr::after {
  content: "";
  width: 100%;
  top: 100%;
  left: 0;
  border: 1px solid var(--borderDark);
  position: absolute;
}

thead tr th:last-of-type {
  text-align: center;
}

td,
th {
  padding: 0.5rem;
}
.student-name {
  width: 50%;
}
.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.actions span {
  padding: 0 5px;
}
.actions i {
  cursor: pointer;
  transition: color 0.15s;
}
.department {
  color: var(--green);
}
.edit {
  color: var(--yellow);
}
.delete {
  color: var(--red);
}
.department:hover {
  color: var(--darkGreen);
}
.edit:hover {
  color: var(--darkYellow);
}
.delete:hover {
  color: var(--darkRed);
}
.arrows {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 8rem;
  margin-top: 2.5rem;
  font-size: 1.3rem;
  user-select: none;
}

.arrows i {
  font-size: 1.3rem;
  border-radius: 8px;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  background-color: var(--grey);
  box-shadow: 0px 0px 4px var(--shadowLight);
  color: rgba(85, 85, 85, 0.8);
  transition: background-color 0.15s;
}

.arrows i:hover {
  background-color: var(--darkGrey);
}

.disabled {
  background-color: var(--darkGrey) !important;
  cursor: inherit !important;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  z-index: 5;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.15s;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
}

.msg {
  position: absolute;
  background-color: #ffffff;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  user-select: none;
}

.msg p {
  padding: 3rem;
  margin: 0;
}

.cross {
  font-size: 2.5rem;
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.delete-form {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  padding: 0 1rem 1rem;
  cursor: pointer;
}

.delete-form button {
  color: white;
  font-size: 1.1rem;
  margin: 0;
  padding: 0.5rem 1rem;
  height: 2.5rem;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 0px 2px var(--shadow);
  cursor: pointer;
  background-color: var(--red);
  transition: background-color 0.15s;
}

.delete-form button:hover {
  background-color: var(--darkRed);
}
