{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="Sign-In student"
      content="width=device-width, initial-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'css/common.css' %}" />
    <link rel="stylesheet" href="{% static 'css/SignIN.css' %}" />
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;800&display=swap"
      rel="stylesheet"
    />

    <style>
      body {
        background-image: url("{% static 'images/blurd.jpg' %}");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        background-size: cover;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    </style>

    <title>Sign In</title>
  </head>

  <body>
    <script src="{% static 'js/SignIN.js' %}"></script>
    <header>
      <nav>
        <a href="">
          <img
            src="{% static 'images/logo.png' %}"
            alt="Student Affairs"
            width="180px"
            height="46"
          />
        </a>
      </nav>
    </header>

    <div class="sign_administrator">


      <div class="admin_body">
        <h2>SignIn</h2>
        <form class="details" id="" action="" method="post">
          {% csrf_token %}
          <input
            type="text"
            name="email"
            id="admin_email"
            placeholder="E-mail"
            required
          /><br />
          <input
            type="password"
            name="password"
            id="admin_password"
            placeholder="Password"
            required
          /><br />
          <div class="button">
            <button type="submit" onclick="return validateForm()">
              Sign-in
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
