:root {
  --primary: #06a3da;
  --secondary: #34ad54;
  --light: #eef9ff;
  --dark: #091e3e;
  --grey: rgb(244, 252, 255);
  --darkGrey: rgb(220, 220, 220);
  --shadow: rgb(150 150 150);
  --shadowLight: rgb(200, 200, 200);
  --section-padding: 100px;
}

header {
  position: relative;
  background-image: linear-gradient(rgb(0, 0, 0, 0.75), rgb(0, 0, 0, 0.75)),
    url("../images/mainPage.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

/* End header */

/* Section Styles */

.welcome {
  width: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-40%);
  padding: 40px;
  background-color: #06a3dac7;
  color: var(--light);
  border-radius: 0 10px 10px 0;
}

.welcome h1 {
  font-size: 36px;
  margin-bottom: 30px;
  text-decoration: underline;
  color: var(--light);
}

.welcome p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #0d2f62;
}

/* Services */
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
}

.services .main-heading {
  margin-bottom: 70px;
}

.services .main-heading h2 {
  font-size: 35px;
}

.srv-content {
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  gap: 45px;
}

.icon {
  font-size: 2.8rem;
  margin-bottom: 2rem;
  color: var(--primary);
}

.srv-content .srv-box {
  /* display: flex; */
  position: relative;
  height: 15rem;
  background-color: var(--grey);
  box-shadow: 0 0 3px #949da9;
  border-radius: 8px;
  padding: 2.8rem;
  cursor: default;
  user-select: none;
}

.services .srv-box h3 {
  color: var(--dark);
}

.services .srv-box p {
  line-height: 2;
  color: #777;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  opacity: 1;
  transition: all 0.15s ease-out;
}

.srv-box:hover .service {
  opacity: 0;
}

.srv-box::before {
  content: attr(service-tip);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 2.4;
  color: #777;
  opacity: 0;
  text-align: center;
  transition: all 0.15s ease-out;
}
.srv-box:hover::before {
  opacity: 1;
}
/* End Services */

/* Footer Styles */
footer {
  background-color: var(--dark);
  color: var(--light);
  padding: 40px 20px 20px 20px;
  text-align: center;
  bottom: -810px;
  left: 0;
  width: 100%;
}

footer .sections {
  display: flex;
  justify-content: space-around;
}

footer .sections ul {
  list-style: none;
  text-align: left;
  padding-left: 15px;
}

footer .sections h3 {
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
}

footer .sections div {
  width: 235px;
  text-align: left;
}

footer .sections .d1 p {
  padding-left: 15px;
}
/* 
    footer .sections .d1 h3::before
    {
      position: absolute;
      content: "";
      width: 110px;
      height: 3px;
      left: 155px;
      bottom: 0;
      background: var(--primary);
      border-radius: 2px;
    }
  
    footer .sections .d2 h3::before
    {
      position: absolute;
      content: "";
      width: 110px;
      height: 3px;
      left: 651px;
      bottom: 0;
      background: var(--primary);
      border-radius: 2px;
    }
  
    footer .sections .d3 h3::before
    {
      position: absolute;
      content: "";
      width: 110px;
      height: 3px;
      left: 1141px;
      bottom: 0;
      background: var(--primary);
      border-radius: 2px;
    } */

footer a {
  color: var(--light);
}

footer .copyR {
  padding-top: 30px;
}

footer a:hover {
  text-decoration: underline;
}
