@import url(https://fonts.googleapis.com/css?family=Roboto:300);

:root {
  --primary: #06a3da;
  --secondary: #34ad54;
  --light: #eef9ff;
  --dark: #091e3e;
  --section-padding: 100px;
  --primary: #06a3da;
  --secondary: #34ad54;
  --light: #eef9ff;
  --dark: #091e3e;
  --section-padding: 100px;
}

.sign_administrator {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.admin_title {
  z-index: 1;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  padding-top: 15px;
  padding-bottom: 25px;
}

.admin_body {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.admin_body input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.admin_body button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #06a3da;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.admin_body {
  position: relative;
  z-index: 1;
  background: #ffffff;
  height: 300px;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.admin_body input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  outline: none;
  margin: 10px 0 10px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  transition-duration: 0.5s;
}
.admin_body input:focus {
  border-bottom: 3px #091e3e solid;
  transition: 0.1s;
}
.admin_body button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #06a3da;
  width: 100%;
  border: 0;
  padding: 15px;
  margin-top: 25px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.admin_body button:hover,
.form button:active,
.form button:focus {
  background: #06a3da;
}
