<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="Sign-In student" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="css/SignIN.css" />
  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Rubik:wght@400;500;600;700&display=swap"
    rel="stylesheet" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;800&display=swap" rel="stylesheet" />

  <style>
    body {
      background-image: url('blurd.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      background-size: cover;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  </style>

  <title>Sign In</title>
</head>

<body>
  <script src="js/SignIN.js"></script>
  <header>
    <nav>
      <ul>
        <li><a href="home">Home</a></li>
        <li><a href="Add_student">Add Student</a></li>
        <li><a href="Update_student">Update Student</a></li>
        <li><a href="search_student">Search for Students</a></li>
        <li><a href="show_students">View All Students</a></li>
        <li><a href="SignIn" class="active">SignIn</a></li>
      </ul>
      <a href="home">
        <img src="Resources/src.png" alt="Student Affairs" width="180px" height="46" />
      </a>
    </nav>
  </header>

  <div class="sign_administrator">
    <div class="admin_title">
      <h2>Sign in as an Administrator</h2>
    </div>

    <div class="admin_body">
      <form class="details" id="" action="home.html" method="post">
        <input type="text" id="admin_email" placeholder="E-mail" required /><br />
        <input type="password" id="admin_password" placeholder="Password" required /><br />
        <div class="button">
          <button type="submit" onclick="return validateForm()">
            Sign-in
          </button>
        </div>
      </form>
    </div>
  </div>
</body>

</html>